<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Все врачи</title>
</head>
<body>
    <div class="header">
        <a href="/patients/">Список пациентов</a>
        <a href="/treatments/">Лечение</a>
        <a href="/invoices/">Счета</a>
        <a href="/dentists/">Стоматологи</a>
        <a href="/appointments/">Записи на приём</a>
        <a href="#">Авторизация</a>
    </div>
<h1>Все врачи</h1>
<table>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Специализация</th>
        <th>Лицензионный номер</th>
        <th>Название клиники</th>
    </tr>
    <tr th:each="dentist : ${dentists}">
        <td th:text="${dentist.id}"></td>
        <td th:text="${dentist.name}"></td>
        <td th:text="${dentist.specialization}"></td>
        <td th:text="${dentist.licenseNumber}"></td>
        <td th:text="${dentist.clinicName}"></td>
        <td>
            <a th:href="@{/dentists/{id}(id=${dentist.id})}">Подробнее</a>
            <a th:href="@{/dentists/{id}/edit(id=${dentist.id})}">Редактировать</a>
            <a th:href="@{/dentists/{id}/delete(id=${dentist.id})}">Удалить</a>
        </td>
    </tr>
</table>
<a th:href="@{/dentists/create-dentist}">Создать запись о враче</a>
</body>
</html>
