<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Создать лечение</title>
</head>
<body>
<div class="header">
  <a href="/patients/">Список пациентов</a>
  <a href="/treatments/">Лечение</a>
  <a href="/invoices/">Счета</a>
  <a href="/dentists/">Стоматологи</a>
  <a href="/appointments/">Записи на приём</a>
  <a href="#">Авторизация</a>
</div>

<h1>Создать лечение</h1>

<form th:action="@{/treatments/create-treatment}" method="post" th:object="${treatment}">
  <label for="name">Название:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required>

  <label for="description">Описание:</label>
  <input type="text" id="description" name="description" th:field="*{description}" required>

  <label for="cost">Стоимость:</label>
  <input type="text" id="cost" name="cost" th:field="*{cost}" required>

  <button type="submit">Создать</button>
</form>

</body>
</html>
