<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Создание нового пациента</title>
</head>
<body>
<div class="header">
  <a href="/patients/">Список пациентов</a>
  <a href="/treatments/">Лечение</a>
  <a href="/invoices/">Счета</a>
  <a href="/dentists/">Стоматологи</a>
  <a href="/appointments/">Записи на приём</a>
  <a href="#">Авторизация</a>
</div>

<h1>Создание нового пациента</h1>

<form th:action="@{/patients/create-patient}" method="post" th:object="${patient}">
  <label for="firstName">ФИО:</label>
  <input type="text" id="firstName" name="firstName" th:field="*{name}" required>

  <label for="phoneNumber">Возраст:</label>
  <input type="text" id="age" name="age" th:field="*{age}" required>

  <label for="phoneNumber">Телефон:</label>
  <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required>
  <label for="phoneNumber">Адрес проживания:</label>
  <input type="text" id="address" name="address" th:field="*{address}" required>


  <button type="submit">Создать</button>
</form>
</body>
</html>
