<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Добавление пациента</title>
</head>
<body>
<div class="header">
  <a href="/people">Список пациентов</a> |
  <a href="/treatments">Лечение</a> |
  <a href="/invoices">Счета</a> |
  <a href="/dentists">Стоматологи</a> |
  <a href="/appointments">Записи на приём</a>
</div>
<h2 >Добавление пациенте</h2>
<form action="/people/add" method="post">
<label>ID:</label>
  <input type="text" name="id"  placeholder="Введите номер айди"><br>

  <label>Имя:</label>
  <input type="text" name="name" placeholder="Имя "><br>

  <label>Возраст:</label>
  <input type="text" name="age" placeholder="Возраст"><br>

  <label>Пол:</label>
  <input type="text" name="gender" placeholder="Пол"><br>

  <label>Адрес:</label>
  <input type="text" name="address" placeholder="Адрес"><br>

  <button type="submit" style="background-color: pink; color: white; border: none; padding: 5px 10px; text-align: center; border-radius: 5px; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; box-shadow: black;">Добавить</button>
</form>
<a href="/people" style="text-decoration: none; background-color: grey; color: white; padding: 2px 7px; border-radius: 5px;">Назад</a>
</body>
</html>
