<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Добавление стоматолога</title>
</head>
<body>
<div class="header">
  <a href="/people">Список пациентов</a> |
  <a href="/treatments">Лечение</a> |
  <a href="/invoices">Счета</a> |
  <a href="/dentists">Стоматологи</a> |
  <a href="/appointments">Записи на приём</a>
</div>
<h2 >Добавление стоматолога</h2>
<form action="/dentists/add" method="post">
<label>ID:</label>
  <input type="text" name="id"  placeholder="Введите номер айди"><br>

  <label>Имя:</label>
  <input type="text" name="name" placeholder="Имя стоматолога"><br>

  <label>Специализация:</label>
  <input type="text" name="specialization" placeholder="Специализация"><br>

  <label>Лицензионный номер:</label>
  <input type="text" name="licenseNumber" placeholder="Лицензионный номер"><br>

  <label>Клиника:</label>
  <input type="text" name="clinicName" placeholder="Название клиники, где работает"><br>

  <button type="submit" style="background-color: pink; color: white; border: none; padding: 5px 10px; text-align: center; border-radius: 5px; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; box-shadow: black;">Добавить</button>
</form>
<a href="/dentists" style="text-decoration: none; background-color: gray; color: white; padding: 2px 7px; border-radius: 5px;">Назад</a>
</body>
</html>
